openapi: 3.0.0
info:
  description: OpenAPI Specification for the Apigee mock target service endpoint.
  version: 1.0.0
  title: Mock Target API
paths:
  /:
    get:
      summary: View personalized greeting
      description: View a personalized greeting for the specified or guest user.
      parameters:
        - name: user
          in: query
          description: Your user name.
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Success
  /xml:
    get:
      summary: View XML response
      description: View a sample response in XML format.
      responses:
        "200":
          description: Success
  /json:
    get:
      summary: View JSON response
      description: View a sample response in JSON format.
      responses:
        "200":
          description: Success
  /echo:
    get:
      summary: View request headers and body
      description: View the request headers and body in JSON format.
      responses:
        "200":
          description: Success
    post:
      summary: Send request and view request headers and body
      description: "Send a request and view the resulting request headers and body in JSON format."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Success
  "/statuscode/{code}":
    get:
      summary: View status code and message
      description: View status code and message for the specified value.
      parameters:
        - name: code
          in: path
          description: HTTP status code.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
servers:
  - url: http://mocktarget.apigee.net
  - url: https://mocktarget.apigee.net
components:
  schemas:
    request-body:
      properties:
        replace-me:
          type: object
          description: Replace with request payload in application/json or XML format.
